<div id="<%= dom_id flat %>">
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= flat.owner %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= flat.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flat.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flat.user_id %>
  </p>

</div>
